ul{
    font-style: bold;
    color: darkblue;
}

.list{
    font-style: italic;
    color: darkturquoise;
}
:link{
    color: crimson;
}
:visited{
    color: darkblue;
}

:hover{
    color: darkorange;
}
.unordered-list:link {
color: rgb(69, 11, 177);
}

:visited {
color: rgb(9, 0, 128);
}

:hover {
color: rgb(238, 8, 123);
}

:active {
color: blue;
}

